@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

.shimmer-bg {
  background: linear-gradient(
    to right, 
    #f6f7f8 0%, 
    #edeef1 20%, 
    #f6f7f8 40%, 
    #f6f7f8 100%
  );
  background-size: 1000px 100%; 
}